/*Root-variables for all .css-files*/
:root {
  /*Site styling*/
  --default-border: #c2c2c2;
  --hover-bg: #ffffff5d;

  /*Trafikverket*/
    --primary-fg: #fff;
    --secondary-fg: #ced64d;
    --primary-bg: #222;
    --secondary-bg: #303030;

  /*Storstockholms lokaltrafik*/
    --sl-english: #fede02;
    --sl-gray: #424b52;
    --sl-dark: #000;
}

/*Settings Page - Main*/
.SettingsMain {
  margin: 1vh;
}

/*Global and Theme Settings*/

.GlobalSettings, .ThemeSettings {
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.GlobalSettings {
  border-bottom: var(--default-border) solid 3px;
}

.ThemeSettings h1 {
  margin-top: 2vh; /*Total of 3 view height thanks to margin in SettingsMain-class (matches Global settings header)*/
}

/*Default Header Styling*/

h1, h2 {
  color: var(--primary-fg);
  margin: 1vh auto;
}

h1 {
  font-size: 1em;
  margin-bottom: 2.5vh;
}

h2 {
  font-size: 0.75em;
}

/*Default Button Styling*/

.DefaultButton {

    color: var(--primary-fg); /*Text color*/
    background-color: #8080805d;
    border: 3px solid var(--default-border);
    border-radius: 50vw;
    font-size: 0.75em;
    
    padding: 0.5vh 1vw;

    transition: 0.1s ease-in-out;
}

.DefaultButton:hover {
  cursor: pointer;
  background-color: var(--hover-bg);
}
.DefaultActiveButton {
  color: var(--primary-fg);
  background-color: var(--hover-bg);
}

/*Language Selector*/

.LanguageSelector {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*Departure and Arrival Buttons*/

.DepArrButtons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.DepArrButtons > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.TwinButton {
  width: 10vw;
  margin-bottom: 2vh;
}

.DepButton {
  border-radius:0 50vw 50vw 0;
  border-left: 0;
}

.ArrButton {
  border-radius:50vw 0 0 50vw;
  border-right: 0;
}

/*Comment Ending*/
