/*Settings Page - Main*/
.SettingsMain {
  margin: 1vh;
}

/*Global and Theme Settings*/

.GlobalSettings, .ThemeSettings {
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.GlobalSettings {
  border-bottom: var(--default-border) solid 3px;
}

.ThemeSettings h1 {
  margin-top: 2vh; /*Total of 3 view height thanks to margin in SettingsMain-class (matches Global settings header)*/
}

/*Language Selector*/

.LanguageSelector {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*Departure and Arrival Buttons*/

.DepArrButtons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.DepArrButtons > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.DepArrButtons .TwinButton {
  width: 10vw;
  margin-bottom: 2vh;
}

/*Comment Ending*/
