.SettingsMenyWrapper {
    position: absolute;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 48px;

    font-size: 16px;
    font-weight: bold;
}

label {
    color: var(--primary-fg);
}

.SettingsMeny {
    display: block;
    z-index: 1;
    padding: 16px;
    width: 100%;
    opacity: 0;
    visibility: hidden;

    background-color: #8080805d;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border: 3px solid #808080;
    border-left: 0px;
    border-right: 0px;
    transition: opacity 0.25s ease-in-out;
}

.SettingsMeny div {
    margin: 2px;
    border-radius: 1rem;
    opacity: 0;
    transition: opacity 0.25s ease-in-out;
}

.SettingsMenyWrapper:hover .SettingsMeny div {
    opacity: 1;
}

.SettingsMenyWrapper:hover .SettingsMeny {
    opacity: 1;
    visibility: visible;
}

.ThemeSelector select {
    padding: 0.1rem;
    border-radius: 1rem;
}
