:root {
    --primary-fg: #fff;
    --secondary-fg: #ced64d;
    --primary-bg: #222;
    --secondary-bg: #3a3a3a;
}

body {
    background-color: var(--primary-bg);
    font-size: 2em;
}

.grid > div, p {
    margin: 0 0.5vw;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 35% 10% 8% 22% 15%;
    border-bottom: 1px solid #444;
    color: var(--secondary-fg);
    font-size: 1.25em;
}

#whiteColor {
    color: #fff;
}

/*grid-indelning*/

.grid > .tid {
    grid-column: 1;
    text-align: left;
}

.grid > .från {
    grid-column: 2;
    text-align: left;
}

.grid > .nyTid {
    grid-column: 3;
    text-align: right;
}

.grid > .spår {
    grid-column: 4;
    text-align: center;
}

.grid > .anmärkning {
    grid-column: 5;
    text-align: left;
}

.grid > .tågnr {
    grid-column: 6;
    text-align: right;
}

/*fortsättning*/

.mainHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--primary-fg);
    background-color: var(--secondary-bg);
}

.mainHeaderText {
    margin: 0 0.5vw;
    font-size: 1.5em;
    letter-spacing: 2px;
}

.currentTime {
    margin: 0 0.5vw;
    color: var(--secondary-fg);
    
}

.nyTid {
    color: #80dfff;
}

.titles {
    color: #fff;
    background-color: var(--secondary-bg);
    
    font-size: 0.75em;
}
