.NavbarWrapper {
    position: absolute;
    top: 0px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 48px;

    font-size: 16px;
    font-weight: bold;
}

label {
    color: var(--primary-fg);
}

.Navbar {
    display: block;
    z-index: 1;
    padding: 16px;
    width: 100%;
    opacity: 0;
    visibility: hidden;

    background-color: #8080805d;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border: 3px solid #808080;
    border-left: 0px;
    border-right: 0px;
    transition: opacity 0.25s ease-in-out;
}

.Navbar div {
    margin: 2px;
    border-radius: 1rem;
    opacity: 0;
    transition: opacity 0.25s ease-in-out;
}

.NavbarWrapper.active .Navbar div {
    opacity: 1;
}

.NavbarWrapper.active .Navbar {
    opacity: 1;
    visibility: visible;
}

.ThemeSelector select {
    padding: 0.1rem;
    border-radius: 1rem;
}

/* 
@media (max-width: 1024px) and (min-width: 768px) {
    .NavbarWrapper {
        font-size: 14px;
    }

    .ThemeSelector select {
        font-size: 14px;
    }

    label {
        font-size: 14px;
    }
}

@media (max-width: 767px) {
    .NavbarWrapper {
        font-size: 12px;
    }

    .ThemeSelector select {
        font-size: 12px;
    }

    label {
        font-size: 12px;
    }
}