:root {
    --primary-fg: #fff;
    --secondary-fg: #ced64d;
    --primary-bg: #222;
    --secondary-bg: #303030;
}

::-webkit-scrollbar {
    width: 0;
}

body {
    background-color: var(--secondary-bg);

    font-size: 2em;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    overflow: scroll;
}

.StandardTheme > .grid:nth-child(odd) {
  background-color: var(--secondary-bg);
}

.StandardTheme > .grid:nth-child(even) {
  background-color: var(--primary-bg);
}

p {
    display: inline-block;
    transform: scaleX(1);
    transform-origin: left bottom;
}

.grid>div,
p {
}

.grid {
    display: grid;
    gap: 0.5vw;
    grid-template-columns: 6.5% 55% 6.5% 6% 14% 9%;
    color: var(--secondary-fg);
    font-size: 1.25em;
}

#whiteColor {
    color: #fff;
}

/*grid-indelning*/

.grid>.tid {
    grid-column: 1;
    text-align: left;
    margin-left: 0.5vw;
}

.grid>.från {
    grid-column: 2;
    text-align: left;
}

.grid>.nyTid {
    grid-column: 3;
    text-align: right;
}

.grid>.spår {
    grid-column: 4;
    text-align: center;
}

.grid>.anmärkning {
    grid-column: 5;
    text-align: left;
}

.grid>.tågnr {
    grid-column: 6;
    text-align: right;
}

/*fortsättning*/

.mainHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--primary-fg);
    background-color: var(--secondary-bg);
}

.mainHeaderText {
    margin: 0 0.5vw;
    font-size: 1.25em;
    letter-spacing: 2px;
}

.currentTime {
    margin: 0 4.5vw;
    font-size: 1.25em;
    color: var(--secondary-fg);

}

.nyTid {
    color: #80dfff;
}

.titles {
    color: #fff;
    background-color: var(--secondary-bg);

    font-size: 0.75em;
}

/* Surfplatta */
@media (max-width: 1024px) and (min-width: 768px) {
    body {
        font-size: 1.5em;
    }

    .grid {
        font-size: 1em;
        grid-template-columns: 10% 40% 9% 7% 22% 9%;
    }

    .mainHeaderText,
    .currentTime {
        font-size: 1em;
    }

    .titles {
        font-size: 0.65em;
    }
}

/* Mobil */
@media (max-width: 767px) {
    body {
        font-size: 1.2em;
    }

    .grid {
        font-size: 0.7em;
        grid-template-columns: 10% 40% 9% 7% 22% 9%;

    }

    .mainHeaderText,
    .currentTime {
        font-size: 0.8em;
    }

    .titles {
        font-size: 0.5em;
    }
}
